body{
    background-color: darkcyan;
}




input{
    margin: 20px;
    color: blue;
    background-color: silver;
    width: 400px;
    height: 30px;
    border: 1px solid lightcyan ;
}
input:hover{
    border-color: burlywood;
    border-color: cadetblue;
}
label{
    color: chartreuse;
}
#button{
    width: 120px !important;
    height: 60px !important;
    background-color: red;
    color: azure;
    border-color: red;
}
#button:hover{
    background-color: deeppink;
    border-color: deeppink;
    color: lightgreen;
}